* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #f3ede5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding-top: 6rem;
}

.swiper {
  width: 100%;
  height: 585px;
  padding-left: 20px;
}

.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 10;
  cursor: pointer;
}

.swiper-prev {
  left: 10px;
}

.swiper-next {
  right: 10px;
}

.swiper-prev::after,
.swiper-next::after {
  content: "";
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 585px;
}

.toggle-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#toggle-swiper {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-status-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 428px;
    padding-left: 20px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 428px;
  }
  
  .hidden {
    opacity: 0;
    transition: opacity 2s ease;
  }
  .swiper-prev {
    display: none;
  }
  .swiper-next {
    right: 50px;
    width: 48px;
    height: 48px;
  }
}
